namespace optiling {

static ge::graphStatus TilingFunc(gert::TilingContext *context)
{
    uint32_t totalLength = context->GetInputShape(0)->GetOriginShape().GetShapeSize();
    context->SetBlockDim(8);
    {{ tiling_struct }} *tiling = context->GetTilingData<{{ tiling_struct }}>();
    tiling->totalLength = totalLength;
    tiling->tileNum = 1;
    return ge::GRAPH_SUCCESS;
}
}  // namespace optiling

