#include "kernel_operator.h"
#include "{{ tiling_header_file }}"
#include "kernel_operator_dump_tensor_intf_impl.h"
constexpr int32_t BUFFER_NUM = 1;  // tensor num for each queue
constexpr int32_t QUEUE_DEPTH = 1;

